# Load .env.development* files when running `wrangler dev`
NEXTJS_ENV=development

GITHUB_CLIENT_ID="your_github_client_id"
GITHUB_CLIENT_SECRET="your_github_client_secret"
BETTER_AUTH_SECRET="random_secret_string_min_32_chars"
